/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
}

body{

}



/* 2. Content ================================= */


.sHead{
	position: fixed;
	top: 0;
	background: white;
	box-shadow: 0 5px 10px rgba(0,0,0,0.5);
	.sH-box{

		height: 75px;
	}
}

.s1{
	background-image: url("../img/BG_guestLogin.png");
	background-size: cover;
	min-height: 100vh;
	
	.s1-wrapper{
		min-height: 300px;
		background: white;
	}

}